{
  parser: "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "react/prop-types": 0,
    "react/jsx-no-bind": 0,
    "react/jsx-filename-extension": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-curly-spacing": 0,
    "react/no-unused-prop-types": 0,
    "react/jsx-space-before-closing": 0,
    "react/no-string-refs": 0,
    "react/self-closing-comp": 0,
    "react/no-find-dom-node": 0,
    "react/jsx-indent": 0,
    "react/prefer-stateless-function": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "import/no-named-as-default": 0,
    "import/prefer-default-export": 0,
    "no-plusplus": 0,
    "import/first": 0,
    "arrow-parens": 0,
    "class-methods-use-this": 0,
    "no-undef": 0,
    "camelcase": 0,
    "default-case": 0,
    "comma-dangle": 0,
    "consistent-return": 0,
    "no-new": 0,
    "prefer-template": 0,
    "quotes": 0,
    "new-cap": 0,
    "no-else-return": 0,
    "arrow-body-style": 0,
    "no-use-before-define": 0,
    "space-before-function-paren": [2, { "anonymous": "never", "named": "never" }],
    "max-len": [1, 120, 2, {ignoreComments: true}]
  }
}