$padding: 20px;

$fontColor: #A0A0A0;

$menuSize: 14px;

$bigIcon: 20px;
$mediumIcon: 16px;

$mainColor: #61B25A;
$hyperlinkHover: rgba(255, 255, 255, .8);
$hyperlinkActive: rgba(255, 255, 255, .4);
$hyperlinkVisited: rgba(200, 200, 200, .4);

$nav: #141414;
$background: #1C1C1C;
$backgroundSecondary: #262626;
$backgroundSecondaryHover: rgba(89, 89, 89, 1);

$border: 1px solid #3A3A3A;
$darkBorder: 1px solid #3A3A3A;
