$padding: 20px;

$mainColor: #A135B2;
$hyperlinkHover: rgba(203, 203, 203, 1);
$hyperlinkActive: rgba(203, 203, 203, .5);
$hyperlinkVisited: rgba(203, 203, 203, .5);

$background: #262626;
$backgroundSecondary: rgba(89, 89, 89, 0.25);
$backgroundSecondaryHover: rgba(89, 89, 89, 1);