$padding: 20px;

$fontColor: #8C8C8C;

$mainColor: #61B25A;
$hyperlinkHover: rgba(203, 203, 203, 1);
$hyperlinkActive: rgba(203, 203, 203, .5);
$hyperlinkVisited: rgba(203, 203, 203, .5);

$nav: #141414;
$background: #CECECE;
$backgroundSecondary: #EFEFEF;
$backgroundSecondaryHover: rgba(89, 89, 89, 1);

$border: 1px solid #8C8C8C;