$padding: 20px;

$mainColor: #61B25A;
$hyperlinkHover: rgba(203, 203, 203, 1);
$hyperlinkActive: rgba(203, 203, 203, .5);
$hyperlinkVisited: rgba(203, 203, 203, .5);

$nav: #141414;
$background: #262626;
$backgroundSecondary: rgba(89, 89, 89, 0.25);
$backgroundSecondaryHover: rgba(89, 89, 89, 1);

$border: 1px solid #333;