.action {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;

  opacity: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;

  &-visible {
    margin: auto ($padding / 2);
    opacity: 1;
  }

  i {
    margin: 0 ($padding / 4);
    cursor: pointer;
    font-size: $mediumIcon;

    &:hover {
        color: $mainColor;
    }
  }

}