.artwork-action {

    position: relative;

    &-overlay {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        color: $mainColor;
        font-size: 34px;
        width: 100%;
        height: 100%;
        background: rgba(89, 89, 89, 0);
        opacity: 0;
        cursor: pointer;
        transition: opacity 0.2s;

        &:hover, &-visible {
          background: rgba(255, 255, 255, .7);
          opacity: 1;
        }

        i {
            margin-top: ($padding - ($padding / 4));
        }
    }
}