.comment-extension {

  margin: $padding;

  &-item {
    display: flex;
    border: $border;
    background-color: $backgroundSecondary;

    &-body {
      padding: $padding / 4;
      flex: 1;

      &-header {
        display: flex;
        justify-content: space-between;
      }
    }
  }

}