.filter-duration {

  display: flex;
  align-items: flex-end;

  &-icon {
    font-size: $mediumIcon;

    &-active {
      color: $mainColor;
    }
  }

  &-content {
    display: flex;
    font-size: $menuSize;

    div {
      margin: 0 ($padding / 4);
    }
  }
}

// TODO: make general for all top level interactions
