.header {

  background: $nav;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  height: $padding * 3;
  border-bottom: $darkBorder;
  z-index: 1;

  &-content {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;

    .menu-item {
      font-size: $menuSize;
      text-transform: uppercase;
      margin: 0 ($padding / 2);
      padding: ($padding / 8) 0;

      &-selected, &:hover {
        border-bottom: 1px solid $mainColor;
      }
    }

    a.menu-item:visited {
      color: $fontColor;
    }

    div {
      margin: auto ($padding * 2);

      i {
        cursor: pointer;
        font-size: 20px;
        width: 20px;

        &:hover {
          color: $mainColor;
        }

      }
    }
  }

}