.item {

  height: 40px;
  display: flex;

  &:hover .action {
    opacity: 1;
    margin: auto ($padding / 2);
  }

  &-content {
    position: relative;
    width: 100%;
    padding: $padding / 4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-name {
      overflow: hidden;
      height: 14px;
    }

    &-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: start;

      &-item {
        width: 30%;
      }
    }
  }
}