.mini-track {

  display: flex;
  height: 40px;
  overflow: hidden;
  border-bottom: $border;

  &:hover &-action {
    opacity: 1;
    margin: auto ($padding / 2);
  }

  &-content {
    height: 20px;
    padding: $padding / 2;
    background: $nav;
  }

  &-action {
    opacity: 0;
    margin: auto 0;
    transition: all 0.2s;

    i {
      cursor: pointer;
      font-size: 15px;

      &:hover {
          color: $mainColor;
      }
    }

  }

}
