.stream-interactions {
  display: flex;
  padding-bottom: ($padding / 2);

  &-item {
    background: $backgroundSecondary;
    border: $border;
    padding: ($padding / 2);
    margin-right: ($padding / 2);
  }
}
