.track {

  border-bottom: 0.5px solid $background;
  display: flex;

  &-content {
    width: 100%;
    height: 80px;
    padding: $padding / 2;
    background: $backgroundSecondary;
  }

  &-img {
    position: relative;

    &-overlay {
      color: $mainColor;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      opacity: 0;
      background: rgba(0,0,0,0.7);

      transition: opacity 0.5s;
      -webkit-transition: opacity 0.2s;
      transition-timing-function: ease;
      -webkit-transition-timing-function: ease;

      i {
        cursor: pointer;
        transform: translateX(-50%);
        position: absolute;
        left: 50%;
        font-size: 25px;
      }

      i.fa-play, i.fa-pause {
        top: 10px;
      }

      i.fa-th-list {
        top: 60px;
      }

    }

  }

  &:hover .track-img-overlay {
    opacity: 1;
  }


}
