.track {

  display: flex;
  height: 80px;
  margin: ($padding / 2) 0;
  background: $backgroundSecondary;
  border: $border;

  &-content {
    position: relative;
    width: 100%;
    height: 70px;
    padding: ($padding / 4);

    display: flex;
    flex-direction: column;

    &-name, &-meta, &-information {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    &-waveform {
      padding: ($padding / 4) 0;
      pointer-events: none;
      flex: 1;

      &-json {
        height: 15px;
        width: 100%;
      }

    }

    &-actions {
      position: absolute;
      right: 0;
      top: 0;
      margin-right: ($padding / 2);

      opacity: 0;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition-timing-function: ease;
      -webkit-transition-timing-function: ease;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;

      &-item {
        i {
          cursor: pointer;
          font-size: 20px;

          &:hover {
            color: $mainColor;
          }
        }
      }
    }
  }

  &:hover .track-content-actions {
    opacity: 1;
  }

  &-visible .track-content-actions {
    opacity: 1;
  }

}
