.track {

  display: flex;
  margin: ($padding / 2) 0;
  background: $backgroundSecondary;

  &-content {
    width: 100%;
    height: 80px;
    padding: $padding / 2;
  }

  &-actions {

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    opacity: 0;
    margin: 0;
    transition: all 0.2s;

    &-item {

      i {
        cursor: pointer;
        font-size: 20px;

        &:hover {
          color: $mainColor;
        }
      }

    }
  }

  &:hover .track-actions {
    opacity: 1;
    margin: 0 ($padding / 2);
  }


}
