.track {

  display: flex;
  height: 100px;
  margin: ($padding / 2) 0;
  background: $backgroundSecondary;
  border: $border;

  &-content {
    position: relative;
    width: 100%;
    height: 90px;
    padding: ($padding / 4);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &-waveform {
      pointer-events: none;

      &-png {
        background-color: $mainColor;
      }

      &-json {
        height: 40px;
        width: 95%;
      }
    }

    &-info {
      display: flex;
      width: 100%;

      &-item {
        width: 20%;
      }
    }

    &-actions {
      position: absolute;
      right: 0;
      top: 0;

      opacity: 0;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      transition-timing-function: ease;
      -webkit-transition-timing-function: ease;

      &-item {

        margin: $padding 0;

        i {
          cursor: pointer;
          font-size: 20px;

          &:hover {
            color: $mainColor;
          }
        }
      }
    }
  }

  &:hover .track-content-actions {
    opacity: 1;
    margin-right: ($padding / 2);
  }

}
