.volume {

  background: $nav;
  position: fixed;
  right: 5em;
  bottom: $padding * 3;
  width: $padding * 5;
  height: $padding * 15;
  max-height: $padding * 15;
  border: $darkBorder;
  overflow: auto;
  opacity: 0;
  pointer-events: none;

  transition: height 0.2s;
  -webkit-transition: opacity 0.2s;
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;

  &-visible {
    opacity: 1;
    pointer-events: all;
  }

  &-menu {
    display: flex;
    justify-content: space-between;
    height: $padding;
    padding: $padding / 2;
    border-bottom: $darkBorder;

    font-size: $menuSize;
  }

  &-number {
    text-align: center;
    color: $mainColor;
  }

  &-muter {
    text-align: center;
    font-size: $bigIcon;
  }
}

.rangeslider {
	margin: 20px 0;
	position: relative;
  background: $fontColor;
  .rangeslider__fill, .rangeslider__handle {
  	position: absolute;
  }
  &, .rangeslider__fill {
  	display: block;
  	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  .rangeslider__handle {
    background: #fff;
    border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    &:active {
      background: #999;
    }
  }
}

.rangeslider-vertical {
	margin: 20px auto;
	height: 150px;
	max-width: 10px;
	.rangeslider__fill {
		width: 100%;
		background: $mainColor;
		box-shadow: none;
		bottom: 0;
	}
	.rangeslider__handle {
		width: 30px;
		height: 10px;
		left: -10px;
		&:active {
			box-shadow: none;
		}
	}
}
